.V-list{
    height: 0.4rem;
    display: flex;
    align-items: center;
    padding:0 0.22rem;
    font-size:0.13rem;
    border-bottom: 1px solid #e5e5e5;
}
.V-list>.v-recommend{
    color:#000000;
    text-decoration: none;
    border-bottom:2px solid red;
    margin-right:0.5rem;
    height:0.4rem;
    line-height:0.4rem;
}