*{
    padding: 0;margin: 0;
}
.playery{
    height: 100%;width: 100%;padding: 0;
    background:rgba(0,0,0,0.5)
}

.go_backy{
    color:#FFF;
    height:0.8rem;
    line-height:0.8rem;
    font-size: 2.963vw;
}
.go_backy span{
    margin-left:1vw;
}
.go_backy i{
    margin-left:2.962vw;
    font-size:2.96vw;
}

.playery .rotatee{
    height: 60%;display: flex;justify-content: center;align-items: center;
}
.playery .rotatee .rotateimg{
    position: absolute;
    top:20%;
    left:23%;
    width: 2rem;height:2rem;background: black;border-radius: 50%;
    display: flex;justify-content: center;align-items: center;margin: 0 auto;
}


.playery .rotatee .rotateimg img{
    width: 70%;border-radius: 50%;
}
.playery .rotatee .rotateimg .myimg{
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }
}
.playery .playerBodyy{
    width: 100%;
}
.playery .playerBodyy{
    width:100%;
    overflow: hidden;
}
.playery .playerBodyy audio{
    display: block;
    backgroun:rgba(0,0,0,0.5)
}
.playery .playerBodyy .playerBottony {
    display: flex;justify-content: space-around;align-items: center;position: absolute;bottom: 0;width: 100%;
}
.playery .playerBodyy .playerBottony i{
    font-size: 0.3rem;color: red;
}
.playery .playerBodyy .playerBottony .icon-bofang{
    font-size: 0.5rem;
}
