*{
    padding: 0;margin: 0;
}
.player{
height: 100%;width: 100%;padding: 0;
}
.player .rotate{
    height: 60%;display: flex;justify-content: center;align-items: center;
}
.player .rotate div{
    width: 2.4rem;height:2.4rem;background: black;border-radius: 50%;
    display: flex;justify-content: center;align-items: center;margin: 0 auto;
    animation: rotate 5s linear infinite;
}
.player .rotate div img{
    width: 70%;border-radius: 50%;
}
@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }
}
.player .playerBody{
    width: 100%;
}
 .player  .ant-page-header-heading-title{
     font-size: 0.16rem;
 }
 .player .playerBody audio{
     margin: 0 auto;display: block;
 }
.player .playerBody .playerBotton {
    display: flex;justify-content: space-around;align-items: center;position: absolute;bottom: 0.1rem;width: 100%;
}
.player .playerBody .playerBotton i{
    font-size: 0.3rem;color: red;
}
 .player .playerBody .playerBotton .icon-bofang{
     font-size: 0.5rem;
 }
.player .playerBody .playerBotton .icon-zanting{
    font-size: 0.5rem;
}