.home{
    width: 100%;height: 100%;
}
.home .homeNav{
    width:100%;display: flex;justify-content: space-between;text-align: center;padding: 0.1rem;
}
<<<<<<< HEAD
#drawer{color:white;}
=======
.drawer{
    padding: 0;
}
>>>>>>> d6fd6b078be4be575d6e1ab24b40acfbf9518918
.home .homeNav a{
    color:black;font-size: 0.16rem;
}
.activeA{
    color:black;font-size: 0.18rem;font-weight: bolder;
}
.home .homeNav i{
    color:black;font-size: 0.18rem;
}