*{
    margin:0;
    padding:0;
}
.detail-album{
    height:0.5rem;
    display:flex;
    flex-direction: row;
    padding-left:0.2rem;

}
.detail-album img{
    height:0.4rem;
    border-radius: 0.1rem;
}
.album-message{
    padding-left:0.2rem;
}
.album-message>h3 {
    font-family: "楷体";
    font-size:0.15rem;
}
.album-message> p{

    font-size:0.1rem;
}
.album-message>h3,.album-message>p{
    margin:0;
}