body .song-list2{
    display:flex;
    flex-direction: row;
    font-size:0.15rem;
    height:0.5rem;
}
body .song-list2>span{
    font-size:0.15rem;
    display:block;
    width:0.4rem;
    height:0.4rem;
    text-align: center;
    padding-top:0.07rem;

}
.song-detailMessage{

}
.song-detailMessage h3,.song-detailMessage p{
    margin-bottom:0;

}
.song-detailMessage h3{
    font-family: "楷体";
    font-size:0.13rem;
}
.song-detailMessage p{
    font-size:0.08rem;
}
.song-detailMessage p b{
    color:red;border:0.01rem solid red;
    font-size:0.08rem;
}
.song-detailMessage p i{
    font-style: normal;
    color:red;border:0.01rem solid red;
    font-size:0.08rem;
}
.index-more{
    text-align:center;
    font-family: "楷体";
    font-size:0.10rem;
}