.title{
    margin-top:0.1rem;
    height:0.3rem;
    width:100%;

    display:flex;
    flex-direction: row;
    padding:0 0.3rem;
    justify-content: space-around;
}
.title a{
    display:block;
    line-height:200%;
    color:#333;
    font-family:'宋体';
}