html,body{
    height:100%;
}
body{
    position:relative;
}
.search-header{
    height:0.3rem;
    display:flex;
    box-sizing:border-box;
    width:100%;
    flex-direction: row;
    padding-top:0.08rem;
}
.search-header .search-back,.search-header .search-singer{
    height:0.3rem;
    line-height:0.3rem;
    width:10%;
    text-align:center
}
.search-back i,.search-singer i{
    font-size:0.15rem;
    display:block;
}
.search-header .search-song{
    width:80%;
    height:0.3rem;

}
.search-header .search-song input{
    font-size:0.12rem;
    outline: none;
    height:100%;
    border:0;
    width:100%;
    border-bottom:1px solid #ccc;
    color:#bbb;
}
.search-result{
    z-index:1;
    width:80%;
    margin: 0 auto;
    margin-top:0.1rem;
    position:absolute;
    left:10%;
    top:0.3rem;
    height:4rem;
    padding-left:0.1rem;
    overflow:hidden; background:#fff;
    box-shadow: 0.05rem 0.03rem 0.1rem 0.07rem #ccc;

}
.search-result li{
    background:#fff;
    height:0.48rem;
    line-height:0.48rem;
    border-top:0.01rem solid #ccc;
    font-family:'楷体';
    font-size:0.15rem;
}
.search-result li i{
    margin-right:0.1rem;
    font-size:0.15rem;
}
.search-history{
    position:relative;
    height:0.8rem;
    margin: 0.15rem 0;
}

.search-history-header{
    position:relative;
    padding-left:5%;
    height:0.3rem;
    width:95%;
}
.search-history-header h3{
    height:0.4rem;
    font-size:0.15rem;
    line-height:0.4rem;
    color:#464646;
    font-family:'楷体';

}
.search-history-header i{
    top:0;
    position:absolute;
    right:0;
    font-size:0.15rem;
}
.search-history-tag{
    height:0.4rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.search-history-tag span{
    display:block;
    font-size:0.12rem;
    line-height:.4rem;
    font-family:'楷体';
    padding:0 0.1rem;
    border-radius: 0.1rem;
    background:#f2f2f2;
    color:#4d4d4d;
}
body .song-list{
    display:block;
}
.song-list>h3{
    height:0.4rem;
    font-size:0.16rem;
    line-height:0.4rem;
    color:#464646;
    padding-left:0.2rem;
    font-family:'楷体';
}
.song-detail{
    display:flex;
    flex-direction: row;
    height:0.52rem;
}
.song-detail span{
    display:block;
    width:0.4rem;
    font-size:0.12rem;
    height:0.4rem;
    text-align:center;
    line-height:0.4rem;

}
.song-list .song-detail:nth-child(2) span{
    color:#e57184;
}
.song-list .song-detail:nth-child(3) span{
      color:#e57184;
  }
.song-list .song-detail:nth-child(4) span{
    color:#e57184;
}
.song-detail-detail{
    height:0.46rem;
    width:90%;
    position:relative;
}
.song-detail-detail>h3{
    color:#313131;
    font-size:0.15rem;
    font-family:'楷体';
    height:0.21rem;
    position: relative;
}
.song-detail:nth-child(2) .song-detail-detail >h3{
    font-weight: bolder;
}
.song-detail:nth-child(3) .song-detail-detail >h3{
    font-weight: bolder;
}
.song-detail:nth-child(4) .song-detail-detail >h3{
    font-weight: bolder;
}
.song-detail-detail h3>b{
    color:#ccc;

    font-size:0.10rem;
    position: absolute;
    right:0.3rem;

}
.song-detail-detail h3>i{
    font-family: "Georgia";
    color:#fc796f;
    font-size:0.10rem;
}

.song-detail-detail p{
    color:#464646;
    font-family:'楷体';
    height:0.21rem;
    font-size:0.10rem;
}




