.everydayRecommend{
    padding: 0.05rem;
}
.everydayRecommend .date{
    font-size: 0.16rem;margin: 0;
}
.everydayRecommend .date .day{
    font-size: 0.3rem;
}
.everydayRecommend .date .month{
    font-size: 0.16rem;
}
.everydayRecommend .songLists{
    padding: 0 0.1rem;
}
.everydayRecommend .songLists ul li{
    display: flex;justify-content: space-between;align-items: center;margin: 0.05rem 0;
}
.everydayRecommend .songLists ul li img{
    width: 0.6rem ;height: 0.6rem ;border-radius: 0.1rem;
}
.everydayRecommend .songLists ul li div{
    display: flex;
}
 .everydayRecommend .songLists ul li .songListsMiddle{
     display: flex;flex-direction: column;padding-left: 0.1rem;
 }
.everydayRecommend .songLists ul li .songListsRight i{
    margin: 0 0.05rem ;font-size: 0.2rem;
}
.everydayRecommend .songLists ul li .songListsRight h4{
    font-size: 0.16rem;
}
.everydayRecommend .songLists ul li .songListsRight p{
    font-size: 0.14rem;
}