.ranking{
    padding:0.05rem;
}
.ranking h4{
   font-size: 0.14rem;
}
.ranking .officialRanking{
    padding-left:0.1rem;
}
.ranking .officialRanking ul{

}
.ranking .officialRanking ul li{
    display:flex;position:relative;margin:0.1rem 0;
}
.ranking .officialRanking ul li span{
    position:absolute;color:white;font-size:0.1rem;bottom:0.02rem;left:0.04rem;
}
.ranking .officialRanking ul li img{
    width:30%;border-radius:0.08rem;
}
.ranking .officialRanking ul li dl{
    margin-left:0.2rem;box-sizing:border-box;
}
.ranking .officialRanking ul li dl dd{
    margin:0.1rem 0;font-size: 0.12rem;
}
.ranking .recommendRanking{
    padding:0 0.1rem;
}
.ranking .recommendRanking ul{
    width:100%;display:flex;flex-wrap: wrap;justify-content: space-between;
}
.ranking .recommendRanking ul li{
    position:relative;width:30%;
}
.ranking .recommendRanking ul li img{
    width:100%;border-radius:0.08rem;
}
.ranking .recommendRanking ul li span{
    position:absolute;color:white;font-size:0.1rem;bottom:0.3rem;left:0.04rem;
}
.ranking .recommendRanking ul li p{
    font-size:0.1rem;text-align:center;line-hight:0.1rem;
}
