*{
    margin:0;
    padding:0;
}
html,body{
   height:100% ;
   width:100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    border:none;
}

.hearff{
    height:22.29vh;
    border-bottom:0.8333vh solid #f5f5f5;
}
.h_hearff{
    margin-left:2.962vw;
    line-height: 5.42vh;
    height:5.42vh;
}
.h_hearff span{
    font-size: 2.96vw;
    font-weight: bold;
}
.n_hearff{
    height:16.875vh;
    display: flex;
    justify-content: space-between;
}
.n_hearff li{
    padding:0 7.4vw;
    height:16.875vh;
    text-align: center;
}
.n_hearff .n_imgff {
    border-radius:50%;
    background:red;
    height:10.416vh;
    width:18.318vw;
}
.n_hearff p{
    height: auto;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
    font-size:1.852vw;
    margin-top:1vh;
    line-height: 1.666vh;
    margin-bottom:0;
}
.n_reduff{
    font-size:2.22vw;
    transform: scale(0.6);
    color:#bcbcbc;
}


.chorusff{
    padding:0 2.962vw;
    height:32.5vh;
}
.s_chorusff{
    height:5.625vh;
    line-height:5.625vh;
}
.sz_chorusff h4{
    font-size: 2.96vw;
    float: left;
    margin-bottom:0;
}
.sz_chorusff i{
    float: left;
    margin-left:1vw;
}
.x_chorusff li{
    height:5.208vh;
    margin-bottom:1.042vh;
    display: flex;
    justify-content: space-between;
}

.z_shuff{
    float: left;
    height:5.208vh;
}
.z_shuff p{
    width:6.2vw;
    color:red;
    font-size:2.5vh;
    line-height: 2.708vh;
    font-weight: bold;
    margin-bottom:0;
}
.z_shuff span{
    display: block;
    font-size:1.333vw;
    color:#bcbcbc;
    transform: scale(0.8);
}
.znz_chorusff{
    float: left;
    height:5.208vh;
    width:9.26vw;
    background:red;
    border-radius: 50%;
}
.znz_chorusff img{
    width:100%;
    height:100%;
}
.zny_chorusff{
    height:5.208vh;
    float: left;
    margin-left:1.85vw;
}
.zny_chorusff h5{
    display: block;
    height:5.208vh;
    line-height:5.208vh;
    font-size:2.59vw;
    margin-bottom:0;
}
.y_chorusff{
    height:5.208vh;
    line-height:5.208vh;
    font-size:2.22vw;
    transform: scale(0.6);
    color:#bcbcbc;
}


