*{
    margin:0;
    padding:0;
}
html,body{
   height:100% ;
   width:100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    border:none;
}

.programsheader{
    height:9.375vh;
    position: relative;
}
.flex_headerf{
    z-index: 999;
    background:#FFF;
    height:9.375vh;
    position: fixed;
    width:100vw;
}
.go_backf{
    height:9.375vh;
}
.go_backf i{
    margin-left:2.962vw;
    font-size:2.96vw;
}
.n_go_backf{
    height:5.416vh;
    line-height: 5.416vh;
}
.n_go_backf span{
    font-size: 2.963vw;
    margin-left:1vw;
    font-weight: bold;
}
.navf{
    line-height: 3.958vh;
    display: flex;
    justify-content: space-between;
    border-bottom:0.185vw solid #ece6d8;
}
.navf li{
    padding:0 10.962vw;
}
.navf li a{
    color:#353535;
    font-size:2.222vw;
    display: block;
}



.hearf{
    height:22.29vh;
    border-bottom:0.8333vh solid #f5f5f5;
}
.h_hearf{
    margin-left:2.962vw;
    line-height: 5.42vh;
    height:5.42vh;
}
.h_hearf span{
    font-size: 2.96vw;
    font-weight: bold;
}
.n_hearf{
    height:16.875vh;
    display: flex;
    justify-content: space-between;
}
.n_hearf li{
    padding:0 7.4vw;
    height:16.875vh;
}
.n_hearf div {
    border-radius: 5px 5px 5px 5px;
    background:red;
    height:10.416vh;
    width:18.318vw;
}
.n_hearf p{
    height: auto;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
    font-size:1.852vw;
    margin-top:1vh;
    line-height: 1.666vh;
    margin-bottom:0;
}



.chorusf{
    padding:0 2.962vw;
    height:32.5vh;
}
.s_chorusf{
    height:5.625vh;
    line-height:5.625vh;
}
.sz_chorusf h4{
    font-size: 2.96vw;
    float: left;
    margin-bottom:0;
}
.sz_chorusf i{
    float: left;
    margin-left:1vw;
}
.x_chorusf li{
    height:5.208vh;
    margin-bottom:1.042vh;
    display: flex;
    justify-content: space-between;
}

.z_shuf{
    float: left;
    height:5.208vh;
}
.z_shuf p{
    width:6.2vw;
    color:red;
    font-size:2.5vh;
    line-height: 2.708vh;
    font-weight: bold;
    margin-bottom:0;
}
.z_shuf span{
    display: block;
    font-size:1.333vw;
    color:#bcbcbc;
    transform: scale(0.8);
}
.znz_chorusf{
    float: left;
    height:5.208vh;
    width:9.26vw;
    background:red;
    border-radius: 5px 5px 5px 5px;
}
.znz_chorusf img{
    width:100%;
    height:100%;
}
.zny_chorusf{
    height:5.208vh;
    float: left;
    margin-left:1.85vw;
}
.zny_chorusf h5{
    height:2.516vh;
    line-height: 2.516vh;
    font-size:2.59vw;
    margin-bottom:0;
}
.znx_chorusf{
    height:2.5vh;
}
.nzx_chorusf{
    float: left;
}
.nzx_chorusf div{
    margin-top:0.5vh;
    width:2.5925vw;
    height:1.4583vh;
    background:red;
    border-radius: 50%;
    float: left;
    line-height: 1.4583vh;
}
.nzx_chorusf span{
    float: left;
    margin-left:1.111vw;
    font-size:2.22vw;
    transform: scale(0.8);
}
.nyx_chorusf{
    float: left;
    font-size:2.22vw;
    transform: scale(0.8);
    color:#bcbcbc;
}
.y_chorusf{
    line-height: 5.208vh;
}