*{
    margin:0;
    padding:0;
}
html,body{
   height:100% ;
   width:100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    border:none;
}

.hearfff{
    height:22.29vh;
    border-bottom:0.8333vh solid #f5f5f5;
}
.h_hearfff{
    margin-left:2.962vw;
    line-height: 5.42vh;
    height:5.42vh;
}
.h_hearfff span{
    font-size: 2.96vw;
    font-weight: bold;
}
.n_hearfff{
    height:16.875vh;
    display: flex;
    justify-content: space-between;
}
.n_hearfff li{
    padding:0 7.4vw;
    height:16.875vh;
}
.n_hearfff div {
    border-radius: 5px 5px 5px 5px;
    background:red;
    height:10.416vh;
    width:18.318vw;
}
.n_hearfff p{
    height: auto;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
    font-size:1.852vw;
    margin-top:1vh;
    line-height: 1.666vh;
    margin-bottom:0;
}


.chorusfff{
    padding:0 2.962vw;
    height:32.5vh;
}
.s_chorusfff{
    height:5.625vh;
    line-height:5.625vh;
}
.sz_chorusfff h4{
    font-size: 2.96vw;
    float: left;
    margin-bottom:0;
}
.sz_chorusfff i{
    float: left;
    margin-left:1vw;
}
.x_chorusfff{
    height:7.5vh;
}
.x_chorusfff li{
    height:7.5vh;
    margin-bottom:1.042vh;
    display: flex;
    justify-content: space-between;
}

.z_shufff{
    float: left;
    height:7.5vh;
}
.z_shufff p{
    width:6.2vw;
    color:red;
    font-size:2.5vh;
    line-height: 4.5vh;
    font-weight: bold;
    margin-bottom:0;
}
.z_shufff span{
    display: block;
    font-size:1.333vw;
    color:#bcbcbc;
    transform: scale(0.8);
}
.znz_chorusfff{
    float: left;
    height:7.5vh;
    width:12.562vw;
    background:red;
    border-radius: 5px 5px 5px 5px;
}
.znz_chorusfff img{
    width:100%;
    height:100%;
}
.zny_chorusfff{
    height:7.5vh;
    float: left;
    margin-left:1.85vw;
}
.zny_chorusfff h5{
    height:3vh;
    line-height: 3vh;
    font-size:2.59vw;
    margin-bottom:0;
}
.znx_chorusfff{
    height:4.5416vh;
}
.nzx_chorusfff {
    height: 1.8vh;
}
.nzx_chorusfff span{
    margin-left:-2vw;
    display: block;
    font-size:2.22vw;
    transform: scale(0.7);
}
.nyx_chorusfff{
    margin-left:-3vw;
    font-size:2.22vw;
    transform: scale(0.6);
    color:#bcbcbc;
}