*{
    margin:0;
    padding:0;
}
html,body{
   height:100% 
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    border:none;
}

.classifyHeader{
    /*padding:0 2.962vw;*/
    height:5.416vh;
    line-height: 5.416vh;
}
.go_back i{
    font-size:2.96vw;
}
.n_go_back span{
    font-size: 2.963vw;
    margin-left:1vw;
    font-weight: bold;
}


.s_footer{
    height:20.83vh;  
}
.ss_footer{
    padding:0 1.481vw;
    height:5.208vh;
    line-height: 5.208vh;
}
.ss_footer h4{
    text-align: center;
    font-size: 2.96vw;
    margin-bottpm:0;
}
.sx_footer div{
    padding:1.041vh 0;
    height:5.1vh;
    line-height: 3.1vh;
    border-top:0.185vw solid #e6e6e6;
}
.sx_footer div li{
    float: left;
    margin-left:6.666vw;
    width:42vw;
}
.n_border{
    border-right:0.185vw solid #e6e6e6;
}
.sx_footer div li i{
    color:red;
}
.sx_footer div li span{
    font-size:2.22vw;
}
.d_border{
    border-bottom:0.185vw solid #e6e6e6;
}

.x_footer{
    height:50.208vh;
}
.xs_footer{
    height:8.333vh;
    line-height: 10vh;
    margin-left:1.481vw;
    font-size: 2.96vw;
}
.xs_footer h4{
    line-height: 11vh;
    text-align: center;
    font-size: 2.96vw;
    margin-bottpm:0;
}
.xx_footer div{
    padding:1.041vh 0;
    height:5.1vh;
    line-height: 3.1vh;
    border-top:0.185vw solid #e6e6e6;
}
.xx_footer div li{
    float: left;
    margin-left:6.666vw;
    width:42vw;
}
.xx_footer div li  i{
    color:red;
}
 .anchor  .blue  i{
    color:blue;
}
.xx_footer div li span{
    font-size:2.22vw;
}