*{
    margin:0;
    padding:0;
}
html,body{
   font-size:100px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    border:none;
}

.classifyHeader{
    /*padding:0 2.962vw;*/
    height:0.52rem;
    line-height: 0.52rem;
}
.go_back i{
    font-size:2.96vw;
}
.n_go_back span{
    font-size: 2.963vw;
    margin-left:1vw;
    font-weight: bold;
}


footer{
    height:auto;
}
.s_footer{
    height:2rem;
}
.ss_footer{
    padding:0 0.18rem;
    height:0.52rem;
    line-height: 0.52rem;
    text-align: center;
}
.ss_footer h4{
    /*margin-left:1.481vw;*/
    font-size: 0.16rem;
}
.s_footer .sx_footer div{
    padding:0.14rem 0;
    height:0.5rem;
    /*line-height:0.5rem;*/
    border-top:0.185vw solid #e6e6e6;
}
.sx_footer div li{
    float: left;
    margin-left:6.666vw;
    width:42vw;
}
.n_border{
    border-right:0.185vw solid #e6e6e6;
}
.sx_footer div li i{
    color:red;
}
.s_footer .sx_footer div li span{
    font-size:0.12rem;
}
.d_border{
    border-bottom:0.185vw solid #e6e6e6;
}

footer .x_footer{
    height:4.84rem;
}
footer .xs_footer{
    height:0.6rem;
    line-height:0.8rem;
    margin:0 0.18rem;
    text-align: center;
}
footer .x_footer .xs_footer h4{
    /*margin-left:1.481vw;*/
    font-size: 0.16rem;
}
footer .xx_footer div{
    padding:0.14rem 0;
    height:0.5rem;
    border-top:0.185vw solid #e6e6e6;
}
.xx_footer div li{
    float: left;
    margin-left:6.666vw;
    width:42vw;
}
.xx_footer div li  i{
    color:red;
}
.d_border  .blue  i{
    color:blue;
}
footer .xx_footer div li span{
    font-size:0.12rem;
}
.d_border{
    border-bottom:0.185vw solid #e6e6e6;
}