*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
    font-size:100px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    border:none;
}

.backround{
    position: relative;
    width:100%;
    height:2.76rem;
    background-position: 0 -0.8rem;
}
.tounav{
    height:0.54rem;
    width:100%;
    padding: 0 0.18rem;
    position: fixed;
    z-index: 999;
}
.nav_header{
    height:0.54rem;
    line-height: 0.54rem;
    font-size:0.16rem;
    color:#FFF;
}
.nav_header i{
    margin-right:0.18rem;
}
.navdj_bottom{
    hieght:0.5rem;
    position: absolute;
    top:1.88rem;
    color:#FFF;
    padding: 0 0.18rem;
}
.navdj_bottom p{
    line-height: 0.24rem;
    font-size:0.16rem;
    margin-bottom:0;
}
.navdj_bottom span{
    display: block;
    line-height: 0.14rem;
    font-size:0.1rem;
}


.showBottom{
    height:auto;
    width:100%;
    background:#FFF;
    min-height: 3rem;
    border-radius: 0.3rem 0.3rem 0 0;
    position: relative;
    top:-0.4rem;
    z-index: 10;
}
.showBottom nav li a{
    color:#000;
}
.showBottom nav li .djactive{
    display: inline-block;
    hieght:0.38rem;
    line-height:0.38rem;
    color:red;
    box-sizing: border-box;
    border-bottom:0.01rem solid red;
}
.showBottom nav {
    height:0.38rem;
    border-bottom:0.01rem solid #cbcbcb;
    font-size:0.12rem;
    line-height:0.38rem;
    box-sizing: content-box;
}
.zzhao{
    height:0.38rem;
    width:100%;
    border-radius: 0.3rem 0.3rem 0 0;
}
.zzhaozz{
    height:0.38rem;
    width:100%;
    background:#FFF;
    border-radius: 0.3rem 0.3rem 0 0;
}
.showBottom nav li{
    float: left;
    width:50%;
    text-align: center;
}
.showBottom nav li span{
    font-size:0.12rem;
    display:inline-block;
    transform: scaleY(0.8);
}
.djexpect{
    margin-left:0.18rem;
    height:0.4rem;
    line-height: 0.4rem;
    margin-bottom:0;
    font-size:0.14rem;
    font-weight:bold;
}
.djconten{
    width:100%;
    height:auto;
    overflow: hidden;
    padding: 0 0.18rem;
}
.ww_dj{
    hight:0.6rem;
    display: flex;
    justify-content: space-between;
}
.djconten .w_djcon{
    hight:0.6rem;
    windth:100%;
    display: flex;
    flex-direction: row;
}
.w_djyou{
    line-height: 0.6rem;
}
.w_djcon{
    width:90%;
}
.zdj{
    line-height: 0.6rem;
    font-size: 0.12rem;
    color:#bcbcbc;
}
.ydj{
    width:100%;
    margin-left:0.16rem;
}
.ydj p{
    font-weight: bold;
    margin-bottom:0;
    height:0.3rem;
    font-size:0.14rem;
    line-height: 0.4rem;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    display:block;
    width:80%;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.ydj div span{
    font-size: 0.12rem;
    color:#bcbcbc;
}
.ydj div b{
    font-weight: normal;
    margin-left:0.16rem;
    font-size: 0.12rem;
    color:#bcbcbc;
    display: inline-block;
}
.ydj div b i{
    display: inline-block;
    font-size: 0.12rem;
    line-height: 0.1rem;
}

.djxqdisplay{
    padding: 0 0.18rem;
    display: none;
    margin-top:0.06rem;
}
.djconentZb{
    hehight:0.98rem;
}
.djconentZb h4{
    margin-bottom:0;
    height:0.46rem;
    line-height: 0.46rem;
    font-size:0.14rem;
    font-weight: bold;
}
.n_djconentZb{
    display:flex;
    justify-content:space-between;
    height:0.5rem;
}
.nz_djconentZb img{
    width:0.5rem;
    height:0.5rem;
    float: left;
    border-radius: 50%;
}
.nz_djconentZb div{
    height:0.5rem;
    float: left;
    margin-left:0.1rem;
}
.nz_djconentZb div p{
    margin-bottom:0;
    line-height: 0.25rem;
    font-size:0.14rem;
}
.nz_djconentZb div span{
    color:#929292;
    font-size:0.1rem;
    display: inline-block;
    margin-top:-0.1rem;
}
.ny_djconentZb{
    height:0.5rem;
    width:0.8rem;
    text-align: center;
}
.ny_djconentZb button{
    width:0.56rem;
    height:0.22rem;
    border:0.01rem solid red;
    color:red;
    background:#FFF;
    border-radius: 0.11rem 0.11rem 0.11rem 0.11rem;
    margin-top:0.12rem;
}
.ny_djconentZb span{
    transform: scale(0.8);
    display: inline-block;
    line-height: 0.14rem;
    font-size:0.1rem;
    margin-top:-0.1rem;
}

.djconentXq{
    margin:0.22rem 0 0.2rem 0;
}
.djconentXq h4{
    height:0.44rem;
    line-height: 0.44rem;
    font-size:0.14rem;
    font-weight: bold;
    margin-bottom:0;
}
.djconentXq d.jconentFl li{
    float: left;
}
.djconentXq .djconentFl li:nth-child(1){
    font-size: 0.13rem;height: 0.14rem;
    line-height: 0.2rem;
    display:inline-block;
}
.djconentXq .djconentFl li:nth-child(2){
    border:0.02rem solid red;
    height: 0.25rem;
    line-height: 0.2rem;
    font-size:0.12rem;
    color:red;
    display:inline-block;
    border-radius: 0.05rem  0.05rem 0.05rem 0.05rem;
    transform: scale(0.8);
}
.djconentXq p{
    margin-bottom:0;
    line-height: 0.22rem;;
    font-size:0.13rem;
}

.djplun{
    height:auto;
    overflow: hidden;
}
.djplun h4{
    hieght:0.46rem;
    font-size:0.14rem;
    line-height: 0.46rem;
    font-weight: bold;
    margin-bottom:0;
}
.spls{
    height:auto;
    overflow: hidden;
}
.spls .ppls{
    float: left;
}
.spls img{
    higth:0.32rem;
    width:0.32rem;
    border-radius: 50%;
}
.ypls{
    float: left;
    margin-left:0.1rem;
}
.ypls span{
    display: inline-block;
    higth:0.32rem;
    line-height: 0.32rem;
    color:#a1a1a1;
    font-size: 0.12rem;
}
.ypls p{
    width:2.9rem;
    margin-bottom:0;
    line-height: 0.24rem;
    font-size:0.14rem;
}
.xpls{
    color:#d3d3d3;
    border-bottom:0.01rem solid #eeeeee;
    height:0.24rem;
    line-height: 0.24rem;
    font-size: 0.1rem;
}