*{
    margin:0;
    padding:0;
}
html,body{
   font-size:100px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    border:none;
}
.station{
    height:auto;
    border-bottom:0.01rem solid #e6e6e6;
}
.go_back{
    position:relative;
    top:0;
    height:0.52rem;
    line-height: 0.52rem;
    font-size: 0.16rem;
}

.go_back .n_go_back span{
    margin-left:0.2rem;
    font-weight: bold;
    font-size: 0.16rem;
    line-height: 0.52rem;
}
.go_back .n_go_back i{
    margin-left:0.18rem;
    font-size:0.16rem;
    line-height: 0.52rem;
}
.go_back .n_go_back{
    height:0.52rem;
    z-index: 999;
    background:#FFF;
   position: fixed;
   width: 100%;
}
.station .playerr{
    height:auto;
    padding:0.06rem 0.18rem;
}
.playerr ul {
    height:100%;
    margin-bottom:0;
}
.station .playerr .ant-carousel{
    height:100%;
}
.playerr li{
    height:100%;
}
.playerr ul li img{
    border-radius: 5px 5px 5px 5px;
    height:100%;
    width:100%;
}
.sort{
    display: flex;
    justify-content: space-between;
    padding:0.15rem 0.18rem 0.12rem 0.18rem;
    height:1rem;

}
.sort li{
    float: left;
    height:0.84rem;
    text-align: center;
    width: 0.8rem;
}
.sort div{
    border-radius: 50%;
    height: 0.48rem;
    width:0.48rem;
    line-height: 0.48rem;
    background:red;
    margin-left:18%;
}
.sort li i{
    color:#fff;
    font-size:0.16rem;
}
.sort span{
    display: inline-block;
    font-size:1.852vw;
    transform: scale(0.8);
    width:100%;
    line-height: 0.28rem;
}

/*section*/
.hear{
    padding:0 0.18rem;
    height:auto;
}
.h_hear{
    line-height: 0.52rem;
    height:0.52rem;
}
.h_hear span{
    font-size: 0.16rem;
    font-weight: bold;
}
.n_hear{
    height:auto;
    display: flex;
    justify-content: space-between;
}
.n_hear li{
    min-height:1.62rem;
    width:30%;
    position: relative;
}
.n_hear li img{
    width:100%;
    border-radius: 5px 5px 5px 5px;
}
.n_hear li div {
    width:100%;
}
.n_hear  li span{
    position: absolute;
    height: auto;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
    transform-origin: left;
    font-size:0.12rem;
    color:#fff;
    top:0.84rem;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap
}
.n_hear li .box-shadow{
    position: absolute;
    height:0.18rem;
    box-shadow: 5vw -6vh 4vw -7vw #cbcbcb  inset;
    top:0.84rem;
}
.n_hear  li p{
    height: auto;
    font-size:0.12rem;
    width:100%;
    margin-bottom:0;
    margin-top:0.05rem;
}
.recommend{
    padding:0 0.18rem;
    height:auto;
}
.s_recommend{
    line-height: 0.52rem;
    height:0.52rem;
    display: flex;
    justify-content: space-between;
}
.sz_recommend{
    font-size: 0.16rem;
    font-weight: bold;
}
.recommend .n_hear div{
    width:30%;
}
.recommend .n_hear div li{
    width:100%;
}
.recommend .n_hear div li div{
    width:100%;
}
.recommend .sy_chorus{
    margin-top:0.18rem;
}


.boutique{
    padding:0 0.18rem;
    height:auto;
    background:#f9f2e2;
}
.s_boutique{
    height:0.52rem;
    display:flex;
    justify-content: space-between;
    line-height:0.52rem;
}
.sz_boutique h4{
    font-size: 0.16rem;
    float: left;
}
.sz_boutique span{
    color:#cec8ba;
    float: left;
    display: block;
    font-size:2.22vw;
    transform: scale(0.9);
}
.s_boutique .sy_chorus{
    margin-top:0.18rem;
}


/*.x_boutique{*/
    /*height:21.25vh;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
/*}*/
/*.x_boutique li{*/
    /*height:21.25vh;*/
    /*width:30vw;*/
/*}*/
/*.x_boutique div {*/
    /*border-radius: 5px 5px 5px 5px;*/
    /*height:16.875vh;*/
    /*width:30vw;*/
/*}*/
/*.x_boutique li p{*/
    /*height: auto;*/
    /*word-wrap:break-word;*/
    /*word-break:break-all;*/
    /*overflow: hidden;*/
    /*margin-top:0.625vh;*/
    /*font-size:1.852vw;*/
    /*line-height: 2.6vh;*/
/*}*/
/*.x_boutique span{*/
    /*margin-top:0.83vw;*/
    /*display: block;*/
    /*color:red;*/
    /*font-size:1.852vw;*/
/*}*/



.chorus{
    padding:0 0.18rem;
    height:auto;
}
.s_chorus{
    height:0.52rem;
    display:flex;
    justify-content: space-between;
    line-height:0.52rem;
}
.sz_chorus h4{
    font-size: 0.16rem;
    float: left;
}
.sz_chorus i{
    float: left;
    margin-left:1vw;
}
.sy_chorus{
    padding:0 1.481vw;
    margin-top:0.18rem;
    height:2.5vh;
    font-size:1.852vw;
    border:0.185vw solid #dddddd;
    border-radius: 1.25vh ;
    line-height: 2.5vh;
}
.sy_chorus i{
    font-weight: bold;
    color:#000;
    display: block;
    float: left;
    font-size:1.852vw;
}
.sy_chorus  span{
    font-weight: bold;
    float: right;
    font-size:1vw;
    transform: scale(0.8);
    display: block

}
.x_chorus li{
    height:0.5rem;
    margin-bottom:0.1rem;
    display: flex;
    justify-content: space-between;
}
.z_chorus{
    width:90%;
}
.znz_chorus{
    float: left;
    height:0.5rem;
    width:0.5rem;
    border-radius: 5px 5px 5px 5px;
}
.znz_chorus img{
    width:100%;
    height:100%;
    border-radius: 5px 5px 5px 5px;
}
.zny_chorus{
    height:0.5rem;
    float: left;
    margin-left:1.85vw;
    width:81%;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
}
.zny_chorus h5{
    height:0.24rem;
    line-height: 0.24rem;
    font-size:0.14rem;
    margin-bottom:0;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    display:block;
    width:80%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.znx_chorus{
    height:0.26rem;
}
.nzx_chorus{
    float: left;
}
.nzx_chorus div{
    margin-top:0.06rem;
    width:0.16rem;
    height:0.16rem;
    border-radius: 50%;
    float: left;
    line-height: 0.26rem;
}
.nzx_chorus div img{
    width:100%;
    height:100%;
    border-radius: 50%;
    float: left;
}
.nzx_chorus span{
    margin-top:0.06rem;
    float: left;
    margin-left:1.111vw;
    font-size:0.12rem;
}
.nyx_chorus{
    margin-top:0.06rem;
    float: left;
    font-size:0.12rem;
    color:#bcbcbc;
}
.nyx_chorus i{
    margin-top:0.06rem;
    font-size:0.12rem;
}
.y_chorus{
    height:0.5rem;
    line-height: 0.5rem;
}
footer{
    height:auto;
}
.s_footer{
    height:2rem;
}
.ss_footer{
    padding:0 0.18rem;
    height:0.52rem;
    line-height: 0.52rem;
    text-align: center;
}
.ss_footer h4{
    /*margin-left:1.481vw;*/
    font-size: 0.16rem;
}
.s_footer .sx_footer div{
    padding:0.14rem 0;
    height:0.5rem;
    /*line-height:0.5rem;*/
    border-top:0.185vw solid #e6e6e6;
}
.sx_footer div li{
    float: left;
    margin-left:6.666vw;
    width:42vw;
}
.n_border{
    border-right:0.185vw solid #e6e6e6;
}
.sx_footer div li i{
    color:red;
}
.s_footer .sx_footer div li span{
    font-size:0.12rem;
}
.d_border{
    border-bottom:0.185vw solid #e6e6e6;
}

footer .x_footer{
    height:4.84rem;
}
footer .xs_footer{
    height:0.6rem;
    line-height:0.8rem;
    margin:0 0.18rem;
    text-align: center;
}
footer .x_footer .xs_footer h4{
    /*margin-left:1.481vw;*/
    font-size: 0.16rem;
}
footer .xx_footer div{
    padding:0.14rem 0;
    height:0.5rem;
    border-top:0.185vw solid #e6e6e6;
}
.xx_footer div li{
    float: left;
    margin-left:6.666vw;
    width:42vw;
}
.xx_footer div li  i{
    color:red;
}
 .d_border  .blue  i{
    color:blue;
}
footer .xx_footer div li span{
    font-size:0.12rem;
}
.d_border{
    border-bottom:0.185vw solid #e6e6e6;
}